@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --bg: #090b0b;
  --grey: #1d1c1c;
  --toastify-color-dark: var(--grey);
  --border: #323234;
}

body {
  background-color: var(--bg);
  color: #f2f2f2;

  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}

.centerdiv {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
}
.input-container {
  display: flex;
  align-items: center;
  background: #181818;
  border-radius: 8px;
  padding: 8px 12px;
  color: white;
  width: fit-content;
  border: 1px solid var(--border);

}

.prefix {
  color: #888;
  margin-right: 6px;
  font-size: 14px;
}

.input-field {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  width: 120px;
  
}

.input-field::placeholder {
  color: #555;
}

.custom-button {
  background: #181818;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.custom-button:hover {
  background: #222;
}

.custom-button:active {
  background: #333;
}

